<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-s-8">
      <section>
      <h3>Override Bot</h3>
      <!-- cohort form -->
        <form novalidate name="cohortForm" ng-submit="sendEmails(cohortName)">
          <fieldset>
            <label for="cohort">Enter A Cohort Name</label>
            <!-- <div ng-messages="cohortForm.cohort.$error" role="alert">
              <div ng-message="required">Please enter an cohort name.</div>
            </div> -->
            <select class="form-control" ng-options="cohort.name for cohort in cohorts" ng-model="cohortName" name="cohort"></select>
            <button type="submit" class="btn btn-success">Send Newsletter</button>  
          </fieldset>
        </form>
        <!-- compilation form -->
        <form novalidate name="cohortForm" ng-submit="sendCompilation(newsId)">
          <fieldset>
            <label for="newsletterId">Select A Newsletter Id</label>
            <select class="form-control" name="newsletterId" id="newsletterId" ng-options="news.id for news in newsletters" ng-model="newsId"></select>
            <button type="submit" class="btn btn-primary">Send All Compiled Emails</button>
          </fieldset>
        </form>
        </section>
        <h3>Edit and Create</h3>
        <!-- edit cohorts -->
        <form novalidate name="editCohort" ng-submit="updateCohorts(selectedCohort)">
          <fieldset>
            <label for="cohorts">Edit A Cohort</label>
            <select class="form-control" name="cohorts" id="cohorts" ng-options="cohort.name for cohort in cohorts" ng-model="selectedCohort"></select>
            <label ng-if='selectedCohort' for="frequency">Enter A Frequency (in days) | currently : {{selectedCohort.frequency}}</label>
            <input ng-if='selectedCohort' class="form-control" name="frequency" ng-model="selectedCohort.frequency"></input>
            <label ng-if='selectedCohort' for="rundate">Change Next Run Date | currently : {{selectedCohort.runDate}}</label>
            <input ng-if='selectedCohort' class="form-control" name="rundate" ng-model="selectedCohort.runDate"></input>
            <button type="submit" class="btn btn-warning">Edit Cohorts</button>
          </fieldset>
        </form>
         <!-- create cohorts -->
         <form novalidate name="createCohort" ng-submit="createCohorts(newCohort)">
          <fieldset>
            <label for="newcohorts">Create A Cohort Name</label>
            <input class="form-control" name="newcohorts" id="newcohorts" ng-model="newCohort.name"></input>
            <label for="frequency">Enter A Frequency (in days) | default is 30 days</label>
            <input class="form-control" name="frequency" ng-model="newCohort.frequency"></input>
            <label for="runtime">Enter A First Run Date | default is 30 days from creation | YYYY-MM-DD</label>
            <input class="form-control" name="runtime" ng-model="newCohort.runDate"></input>
            <button type="submit" class="btn btn-info">Create A Cohort</button>
          </fieldset>
        </form>
      </div>
    </div>  
  </div>
</section>


