<div class="container" app>
  <div class="row">
    <div class="col-s-12">
      <form novalidate name="eForm" ng-model="eResponse" ng-submit="collectMessage(collection)">
        <fieldset>
          <!-- <label for="comment">What's new?</label> -->
          <div ng-messages="eForm.collectemail.$error" role="alert">
            <div ng-message="required">Please enter an update.</div>
          </div>
          <textarea class="form-control" type="text" rows="5" ng-model="collection.eResponse" name="collectemail" required></textarea>
          <button type="submit" class="btn btn-success pull-left">Keep in Touch</button>  
        </fieldset>
      </form>
    </div>
    <!-- <div class="col-s-12 col-md-4">
      <cohort-list></cohort-list>
    </div> -->
  </div>
</div>